* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --h1-font-size: 3rem;
    --h2-font-size: 2rem;
}

h1 {
    font-size: var(--h1-font-size);
}

h2 {
    font-size: var(--h2-font-size);
}

/* h1 {
    font-size: var(--h1-font-size) !important ;
    margin:0 !important;
    color: #fff;
} */

p {
    font-size: 1.4rem;
    font-weight: 500;
}

html,
body {
    overflow-x: hidden;
}


.montserrat-alternates-semibold {
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 8vw;
  }
  

#header-section {
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    background: #000;
    font-family: "Nue Montreal" fantasy;
    position: relative;
    z-index: 1;
}
/* html,
body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background: #000;
    font-family: "Nue Montreal" fantasy;
} */

/* .btn {
    padding: 14px 34px;
    border-radius: 4px;
    background-color: #F40212;
    color: #fff;
} */

.btn {
    padding: 10px 35px;
    font-size: 20px;
    border-radius: 5px;
    font-weight: 500;
    cursor: pointer;
    border: 2px solid transparent;
    transition: 0.2s ease;
    text-decoration: none;
    text-align: center;
}

.btn:hover {
    cursor: pointer;
}

.sec-two-btn {
    position: absolute;
    bottom: 100px;
}

.reviews-btn {
    position: absolute;
    bottom: 40px;
}

.content-container {
    width: 100vw;
    /* height: 100vh; */
    position: relative;
    z-index: 999;
    /* background-color: #000; */
}

.section-containers {
    width: 80vw;
    height: 100%;
    margin: 0 auto;
}

.second-container {
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: space-between;
    /* align-items: center; */
    gap: 2rem;
    padding: 8rem 0 0;
    min-height: 100vh;
}

.sec-two-right-side-img-container {
    height: auto;
    width: auto;
    /* height: 510px;
    width: 400px; */
    margin-top: 5vh;
}

.second-section-right-container {
    display: flex;
    /* gap: 2rem; */
    flex-direction: column;
    align-items: center;

}

/* .small-photos {
    display: grid;
    grid-template-columns:repeat(auto-fit, minmax(180px, 1fr));
    gap: 10px;
} */

.small-photos img {
    margin-right: 10px;
    border: 15px solid #F40212;
    border-top-left-radius: 50%;
    border-radius: 50px;
}

.section-containers div p {
    position: relative;
    z-index: 3;
    font-size: 2rem;
    /* color: #fff; */
    color: red;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.content {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 2;
}

nav {
    /* position: fixed; */
    width: 100%;
    /* padding: 2.5em; */
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
    /* gap: 3em; */
}

.nav-item {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    margin-top: -35px;
}

.nav-item a {
    position: relative;
    top: 20px;
    font-size: 18px;
    text-decoration: none;
    color: #Fff;
    font-weight: bolder;
    /* opacity: 0.35; */
}

.nav-item a#active {
    opacity: 1;
}

.hero {
    position:absolute;
    width: 95%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    color: #fff;
}

.icon, .icon-2 {
    flex: 0.5;
    padding: 0 5em;
    font-size: 30px;
    opacity: 0.5;
}

.icon-2 {
    text-align: right;
}

.icon i,
.icon-2 i {
    transform: scale(0);
}
/* .icon ion-icon,
.icon-2 ion-icon {
    transform: scale(0);
} */

.title {
    flex: 2;
    font-size: 100px;
    color: #F40212;
    /* margin-left: -560px; */
    font-weight: 600;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

.title p {
    position: relative;
    text-align:center;
    top: 120px;
    /* top: 50px; */
}

#top-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.preview {
    position: absolute;
    bottom: 2em;
    right: 2em;
    display: flex;
    gap: 0.3em;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

.preview img {
    position: relative;
    top: 100px;
    width: 80px;
    height: 50px;
}

.slide-num {
    margin: 3em 0;
    text-align: center;
    color: #fff;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

.slide-num p {
    position: relative;
    top: 30px;
}

.container {
    position: fixed;
    z-index: -7;
    width: 100%;
    height: 100%;
    display: flex;
    gap: 1em;
}

.container .col {
    position: relative;
    flex: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.col .item {
    position: relative;
    flex: 1;
    width: 100%;
    background: gray;
    overflow: hidden;
}

.col .item img {
    max-width: 105%;
}

.c-1 .item,
.c-3 .item,
.c-5 .item {
    top: 100%;
}

.c-2 .item,
.c-4 .item {
    top: -100%;
}


/* ROTATING IMAGES SECTION */
.rotating-imgs-text {
    position:absolute;
    text-align:center; 
    width:80vw;
    max-width: 800px;
    height: 100%;
    color:#fff;
    left:50%;
    transform:translateX(-50%);
}

/* SERVICES CONTAINERS */

.popular-services-container {
    width: 80vw; 
    margin:0 auto; 
    border-radius: 5px; 
    padding: 10px;
    position:relative;
    background:lightgrey; 
    margin:100px auto;
    border-radius:100px;
    box-shadow:10px 20px 3px #666;
}

.our-services-2nd-p-tag {
    width: 65%; 
    margin: 0 auto;
    text-align: center; 
    padding-bottom: 50px;
}
.services-containers .service-container div h2 {
    /* font-size: 1.5rem; */
    font-size:var(--h2-font-size);
    margin-bottom: .75rem;
}
.services-containers .service-container h2 {
    text-align: center;
}

/* .services-containers {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    justify-content: center;
    gap: 2rem;
    max-width: 600px;
} */
.services-containers {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
}

.service-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
}

.service-container div {
        background-color: #F40212;
        /* box-shadow: 6px 6px 2px #f36169; */
        position: relative;
        padding: 10px;
        /* width: 300px; */
        border-radius: 5px;
        flex: 0 0 30%;
        display: flex;
        flex-direction: column;
        /* border: 1px solid; */
        border-top-left-radius: 50px;
        border-bottom-right-radius: 50px;
}

/* .service-container div {
    margin-bottom: 30px;
} */

.service-container h2 {
    /* font-size: 1.5rem; */
    font-size: var(--h2-font-size);
    color: #fff;
}

.service-container a {
    padding: 5px 10px;
    font-size: 14px;
    color:#fff;
    position: absolute; 
    right: 10px; 
    text-decoration: none; 
    border: 1px solid white; 
    bottom:10px;
}

/* SMOOTH SCROLL GALLERY */
.block {
    position: relative;
    width:580px;
    height: 460px;
}

/* OUR WORK */
.stylist-card .photo-gallery-card-image {
    width: auto;
    height: 450px;
    padding: 4px;
    border-radius: 50%;
}

.our-work-section {
    position: relative;
    /* z-index: 99999999999999; */
    width: 100%;
    min-height: 50vh;
    padding-bottom: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background: url(../images/stylist-card-bkgd.jpg); */
    /* background: url(../images/stylist-card-bkgd.jpg) #F40212; */
    background-repeat: no-repeat;
    background-position: center;
    
}


/* STYLIST CARD SLIDER */

.stylist-section {
    position: relative;
    /* z-index: 99999999999999; */
    width: 100%;
    min-height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-image:url(../images/stylist-card-bkgd.jpg); */
    /* background: url(../images/stylist-card-bkgd.jpg) #F40212; */
    /* background-repeat: no-repeat;
    background-position: center; */
    
}

.stylist-container {
    max-width: 1300px;
    padding: 0 20px;
}

.stylist-slider-container {
    margin: 0 70px 40px;
    overflow: hidden;
}

.stylist-slider-container .stylist-card {
    position: relative;
    padding: 35px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.2);
    /* background: rgb(244, 2, 18); */
    backdrop-filter: blur(30px);
}

.stylist-card .stylist-card-image {
    width: 250px;
    height: 250px;
    padding: 4px;
    border-radius: 50%;
    /* border: 3px solid #fff; */
}

.stylist-card h2 {
    color: #fff;
    margin: 40px 0 14px 0;
}

.stylist-card p {
    font-size: 17px;
    color: #efefef;
    font-weight: 500;
    margin-bottom: 40px;
}

.stylist-card button {
    padding: 10px 35px;
    font-size: 20px;
    border-radius: 5px;
    color: #030728;
    font-weight: 500;
    cursor: pointer;
    background: #fff;
    border: 2px solid transparent;
    transition: 0.2s ease;
}

.stylist-card button:hover {
    color: #fff;
    border-color: #fff;
    background: transparent;
}

.stylist-container .swiperNav_btn {
    color: #fff;
    transition: 0.3s ease;
}

.stylist-container .swiperNav_btn:hover {
    color: #F40212;
}

.stylist-container .swiper-pagination-bullet {
    height: 13px;
    width: 13px;
    opacity: 0.5;
    background: #fff;
}

.stylist-container .swiper-pagination-bullet-active {
    opacity: 1;
}



.header {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: -1;
}

.header::before {
    content: "";
    /* position: absolute; */
    width: 100%;
    height: 100%;
    /* background-color: blue; */
    /* background-color: #000; */
    opacity: .4;
    z-index: -1;
}

.fade-background-container {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -5;
}

.fade-background {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
    transition: opacity 1s ease-in-out;
    z-index: -5;
}

.showing {
    opacity: 1;
    z-index: -1;
    transition: none;
}

.para-two-text {
    padding: 0 !important;
}

/* @media screen and (max-width: 1585px) {
 .small-photos {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
 }
}
*/

@media screen and (max-width: 1289px) {
 /* .small-photos {
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
 } */

 .two-btns {
    flex-direction: column;
    margin-top: 20px !important;
 }
}

@media screen and (max-width: 1024px) {
    .our-services-left-img,
    .our-services-right-img {
        display: none;
    }

    .sec-two-btn {
        bottom: 100px;
    }
}
@media screen and (max-width: 955px) {
    .display-none-on-mobile {
        display: none;
    }
}
/* HEADER */

@media screen and (max-width: 900px) {
    .contact-container .contactInfo .contact-box {
        width: 90vw;
    }
    .slide-num {
        text-align: left;
        padding-left: 2em;
        margin-bottom: 2.5em;
    }

    .title {
        font-size: 10vw;
    }

    .icon, .icon-2 {
        padding: 0 1em;
        font-size: 16px;
    }

    .preview img {
        width: 60px;
        height: 40px;
    }
}

@media screen and (max-width: 825px) {

    .small-photos img {
        border: none !important;
    }

    .half-pic-frame {
        background: none !important;
    }

    .second-container {
        flex-direction: column-reverse;
        padding: 0 0 10vh 0;
        align-items: center;
    }

    .service-container div {
        flex: 0 0 40%;
    }

    .section-containers {
        width: 100vw !important;
    }

    .section-containers div p {
        width:100%;
        padding: 0 20px;
    }

    .sec-two-right-side-img-container {
        height: 300px !important;
        width: 370px !important;
        margin-top: 300px !important;
    }

    .second-section-left-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 30px;
    }

}

@media screen and (max-width: 768px) {

    .small-photos {
        width:100vw;
    }

    /* .rotating-imgs-container {
        margin-top: 330px !important;
    } */

    .rotating-imgs-container span {
        height: 90% !important;
        width: 90% !important;
    }

    .sec-two-btn {
        bottom: 20%;
    }

    .montserrat-alternates-semibold {
        font-size: 75px;
    }
    /* .stylist-slider-container {
        margin: 80px 10px 40px;
    } */

    .stylist-container .swiperNav_btn {
        display: none;
    }

    .popular-services-btn {
        margin-bottom: 2rem !important;
    }
}

@media screen and (max-width: 665px) {


    .section-containers div p {
        width: 100%;
    }

    .sec-two-right-side-img-container {
        height: 280px !important;
        width: 330px !important;
        margin-top: 250px !important;
    }
}

@media screen and (max-width: 620px) {

    .service-container div {
        flex: 0 0 100%;
    }
}

@media screen and (max-width: 525px) {

    .sec-two-right-side-img-container {
        height: 300px !important;
        width: 370px !important;
        margin-top: 280px !important;
    }

    .rotating-imgs-text {
        width: 100vw;
        padding: 0 10px;
        text-align: left;
    }

    .popular-services-container {
        width: 100vw; 
        padding: 0;
        border-radius: 0;
    }
    
    .popular-services-container {
        width: 100vw; 
        padding: 0;
        border-radius: 0;
    }

    .popular-services-container div div {
        width: 100vw;
        margin: 10px 0 10px 0;
        padding: 10px;
    }
}


@media screen and (max-width: 425px) {

    .sec-two-right-side-img-container {
        height: 240px !important;
        width: 290px !important;
        margin-top: 180px !important;
    }
}

@media screen and (max-width: 400px) {
    .popular-services-container {
        width: 100vw !important;
        margin: 50px 0 !important;
    }

    .text p {
        word-wrap: break-word;
        font-size: 16px;
    }

    .popular-services {
        padding: 0 10px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .our-services-2nd-p-tag {
        text-align: left;
        width: 100vw;
        padding: 0 20px;
    }

}
